service update_engine /system/bin/update_engine --logtostderr --logtofile --foreground
    class late_start
    user root
    group root system wakelock inet cache media_rw
    disabled

on property:ro.build.ab_update=true
    enable update_engine
